.client-card{
	width: 100%;
	padding: 0;
    background: var(--blue-dark);
    margin: 2px 0 !important;
}

.client-card-body{
	padding: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.client-logo{
	width: 40px;
	display: inline-block;
	margin: auto 20px;
}

.client-info{
	display: inline-block;
	padding: 20px;
	color: white;
	text-align: start;
	width: 100%;
}

.client-name{
	margin: 0px;
	font-weight: bold;
	font-size: 20px;
	color: var(--green-medium);
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}

.client-product{
	margin: 0px;
}

.client-text-answer{
	color: white;
	display: inline-block;
	height: 100%;
	margin: auto 10px;
	padding: 10px;
}

.client-text-answer:hover{
	text-decoration: underline;
	cursor: pointer;
}
