.stream-container{
    margin: 8px!important;
}

.stream-clients{
    float: left;
}

.stream-clients, .stream-dashboard{
    float: left;
    width: calc(20% - 8px);
    padding: 8px;
    overflow-y: auto;
    border-radius: 4px;
    background: var(--blue-medium);
}

.stream-video{
    width: calc(60% - 8px);
    float: left;
    background: var(--blue-medium);
    margin: 0 8px;
    border-radius: 4px;
    padding: 8px;
}

.stream-clients-title{
    color: white;
    font-size: 24px;
}

/* 
@media (max-width: 998px){
    .stream-video {
        width: 100%;
        margin-bottom: 8px;
    }

    .stream-dashboard {
        width: 100%;
        display: inline-grid;
        padding: 0px;
        grid-template-columns: repeat(4, auto);
        grid-auto-rows: minmax(min-content, max-content);
        overflow-y: unset;
    }
} */