.nav{
    background-color: var(--blue-medium)!important;
}

.navbar{
    width: 100%;
}

.nav-text{
    color: rgba(255,255,255,0.5)
}

.navbar-brand{
    text-align: left;
}

.dropdown:hover{
    background: var(--blue-dark);
    border-radius: 4px;
}

.dropdown,  .dropdown-toggle, .dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background: var(--blue-dark);
    color: white;
}

.dropdown-menu{
    background-color: #1B2A47 !important;    
}