.home-container{
  height: calc(100%-172px);
  display: flex;
  flex-direction: column; /* defined the main axis */
  justify-content: center; /* y-axis */
  align-items: center; /* x-axis */
}

.home-title{
    color: white;
    margin-top: 20px;
    font-size: 40px;
}

.home-image{
    /* width: auto; */
    /* height: calc(100%-324px); */
    height: calc(100vh - 340px);
    margin: 40px auto;
}

.home-button{
    margin-bottom: 20px;
}