.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--green-medium);
}

.main-container{
    padding: 20px;
}

:root{
    --blue-dark: #152036;
    --blue-medium: #1B2A47;
    --green-medium:#24C79F;
    --green-dark: #009571;
}

:root, #root {
    height: 100%;
    
}