body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-dark);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background: var(--blue-medium);
}

::-webkit-scrollbar-thumb {
  background: var(--green-medium); 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green-dark); 
}

.button-green{
    border-color: var(--green-medium); 
    color: var(--green-medium); 
    margin-top: 20px;
    padding: 6px 40px;
    border-radius: 20px;
}

.button-green:hover, .button-green:active{
    border-color: var(--green-medium); 
    color: white;
    transition: background-color 0.5s ease;
    background-color: var(--green-medium); 
}

.button-green:active{
    border-color: var(--green-medium) !important;
    color: white;
    background-color: var(--green-medium) !important;
}

.button-green:focus {
    box-shadow: 0 0 0 0.2rem var(--green-dark) !important;
}